<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Weather App</title>
    <meta
      name="404"
      content="Page not found"
    />
    <meta name="author" content="Sumit Pal" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    {{>header}}
    <section class="center">
      <p>Page not found</p>
      <div class="font-404">
          404
      </div>
    </section>
  </body>
</html>
