<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>About - Weather App</title>
    <meta
      name="Author"
      content="A simple weather app from scratch using NodeJS"
    />
    <meta name="author" content="Sumit Pal" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    {{>header}}
    <section class="center">
      <div class="card">
          <div class="card-image">
              <img src="https://www.sumitpal.in/sumit-pal.jpg" alt="Sumit Pal">
          </div>
          <div class="card-content">
              <h2>Sumit Pal</h2>
              <p>Revising NodeJS by creating a simple weather app from scratch</p>
              <p>Find me on</p>
              <div class="links">
                  <a href="http://www.sumitpal.in">My website</a>
                  <a href="https://www.linkedin.com/in/sumitpal29">LinkedIn</a>
                  <a href="https://github.com/sumitpal29">Github</a>
              </div>
          </div>
      </div>
    </section>
  </body>
</html>
